body, html {
  padding: 0;
  margin: 0;
}

body {
  background-color: #121212;
}

* {
  box-sizing: border-box;
  font-family: Roboto, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, p {
  margin: 0;
}

#app {
  overflow-x: hidden;
}

@media only screen and (min-width: 768px) {
  #app {
    position: relative;
    display: flex;
  }
}

/********************************************************************************************/
/* ---------------------------------- Theme Variables ------------------------------------- */
/********************************************************************************************/

// Main colors
$spotify-green: #3bd23b;

// Background colors
$primary-background-color: #121212;
$secondary-background-color: #1D1D1D;
$tertiary-background-color: #D9D9D9;

// Text colors
$primary-text-color: #FFFFFF;
$secondary-text-color: #BCBCBC;
$tertiary-text-color: #000000;

// Border radius
$round-border-radius: 50%;
$primary-border-radius: 5px;
$secondary-border-radius: 2px;

/********************************************************************************************/
/* -------------------------------------- Mixins ------------------------------------------ */
/********************************************************************************************/

@mixin reset-swal {
  display: block!important;
  outline: none!important;
  border: none!important;
  box-shadow: none!important;
  margin: 0 !important;
  font-weight: 400!important;
}

@mixin bc-attr {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

/********************************************************************************************/
/* ------------------------------- Skeleton Animation ------------------------------------- */
/********************************************************************************************/

.sk-anim {
  position: relative;
  overflow: hidden;
  background-color: #1d1d1d;
}

.sk-anim:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, #31353f, transparent);
  transform: translateX(-100%);
  animation: loading 1s infinite;
  overflow: hidden;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

/********************************************************************************************/
/* ----------------------------------- Sweetalert2 ---------------------------------------- */
/********************************************************************************************/

.custom-swal-container {

  .swal2-confirm,
  .swal2-confirm:focus {
    @include reset-swal;
  }

  .swal2-html-container {
    line-height: 1.6;
    color: $secondary-text-color;
  }
}



.swal2-container {
  background: rgba(0,0,0,0.8)!important;
}

.swal-media-container {
  .swal2-confirm,
  .swal2-confirm:focus,
  .swal2-cancel,
  .swal2-cancel:focus {
    @include reset-swal;
    flex: 1;
    font-size: 15px!important;
  }

  // Since cancel buggy is buggy
  .swal2-cancel {
    display: none!important;
  }

  .swal2-confirm {
    position: relative;
    width: 100%;
    height: 46px;
    padding: 0;
    margin-top: 10px!important;
    background-color: $spotify-green;
    border-radius: 50px;
    color: $primary-text-color;
    font-size: 16px!important;
    font-weight: 500!important;
  }

  .swal2-confirm::before {
    @include bc-attr;
    content: '';
    position: absolute;
    left: 12px;
    top: 12px;
    width: 22px;
    height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg fill='%23FFFFFF' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 496'%3E%3Cpath d='M248,8C111.1,8,0,119.1,0,256S111.1,504,248,504,496,392.9,496,256,384.9,8,248,8ZM348.7,372.9c-4.2,0-6.8-1.3-10.7-3.6-62.4-37.6-135-39.2-206.7-24.5-3.9,1-9,2.6-11.9,2.6a15.569,15.569,0,0,1-15.8-15.8c0-10.3,6.1-15.2,13.6-16.8,81.9-18.1,165.6-16.5,237,26.2,6.1,3.9,9.7,7.4,9.7,16.5a15.11,15.11,0,0,1-15.2,15.4Zm26.9-65.6c-5.2,0-8.7-2.3-12.3-4.2-62.5-37-155.7-51.9-238.6-29.4-4.8,1.3-7.4,2.6-11.9,2.6a19.418,19.418,0,0,1-19.4-19.4c0-10.7,5.2-17.8,15.5-20.7,27.8-7.8,56.2-13.6,97.8-13.6,64.9,0,127.6,16.1,177,45.5,8.1,4.8,11.3,11,11.3,19.7A19.376,19.376,0,0,1,375.6,307.3Zm31-76.2c-5.2,0-8.4-1.3-12.9-3.9-71.2-42.5-198.5-52.7-280.9-29.7-3.6,1-8.1,2.6-12.9,2.6-13.2,0-23.3-10.3-23.3-23.6,0-13.6,8.4-21.3,17.4-23.9,35.2-10.3,74.6-15.2,117.5-15.2,73,0,149.5,15.2,205.4,47.8,7.8,4.5,12.9,10.7,12.9,22.6a23.169,23.169,0,0,1-23.2,23.3Z' transform='translate(0 -8)' /%3E%3C/svg%3E");
  }

  .swal2-html-container {
    line-height: 1.6;
    color: $secondary-text-color;
    margin: 1.25em 15px 0;
  }

  .swal2-actions {
    width: 100%;
    padding: 0 15px;
    margin-top: 8px;
    flex-direction: row;
    column-gap: 15px;
  }
}

/********************************************************************************************/
/* ------------------------------- Theme Select Styles ------------------------------------ */
/********************************************************************************************/

label {
  position: relative;
  width: 100%;
  color: $primary-text-color;

  span {
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
  }
}

select {
  position: relative;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 42px;
  background-color: $secondary-background-color;
  color: $secondary-text-color;
  outline: #3C444D;
  border-radius: $primary-border-radius;
  border: 1px solid #3C444D;
  cursor: pointer;
  text-align: left;
  padding-left: 12px;
  font-size: 16px;
}


select::-ms-expand {
  display: none;
}

select option {
  color: $primary-text-color;
}

select:focus::-ms-value {
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  select {
    max-width: 300px;
  }
}

