#desktop-navbar {
  position: relative;
  width: 380px;
  height: 100vh;
  background-color: $tertiary-text-color;
  padding: 0 15px 15px;

  header {
    padding-bottom: 12px;
    margin-bottom: 20px;
  }

  a {
    @include flex-align-center;
    position: relative;
    height: 30px;
    column-gap: 15px;
    text-decoration: none;
    padding-left: 18px;
    border-radius: $primary-border-radius;
    margin-bottom: 12px;
  }


  a svg {
    width: 20px;
    height: 18px;
    cursor: pointer;
    fill: #9b9b9b;
  }

  a span  {
    color: #9b9b9b;
    font-size: 15px;
  }

  .router-link-exact-active svg,
  a.active svg {
    fill: #FFFFFF;
  }

  .router-link-exact-active span,
  a.active span {
    color: #FFFFFF;
  }

  .router-link-exact-active:before,
  a.active:before {
    background-color: #FFFFFF;
  }
}

@media only screen and (min-width: 768px) {
  #desktop-navbar header {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
    border-bottom: 2px solid $secondary-background-color;
    padding-top: 22px;
    margin-bottom: 22px;
  }
}

@media only screen and (min-width: 991px) {
  #desktop-navbar header {
    flex-direction: row;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 28px;
    margin-bottom: 28px;
  }
}


@media only screen and (min-width: 1280px) {
  #desktop-navbar {
    width: 430px;

    a {
      height: 35px;
      margin-bottom: 15px;
    }


    a svg {
      width: 22px;
      height: 20px;
    }

    a span  {
      font-size: 18px;
    }
  }
}
