h1 {
  color: $primary-text-color;
}

.slider-wrapper {
  position: relative;
  width: 100%;

  .media-slider {
    @include flex-center-y;
    width: 100%;
    column-gap: 15px;
    scroll-padding: 0 $wrapper-padding-x;
    padding: 0 $wrapper-padding-x;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    margin-bottom: $wrapper-bottom-margin;

    .media-slide {
      position: relative;
      width: 130px;
      height: 280px;
      flex: none;

      .album-wrapper {
        position: relative;
        width: 130px;
        height: 176px;

        .media-image {
          position: absolute;
          bottom: 20px;
          left: 0;
          width: 130px;
          height: 130px;
          max-width: none;
          background-size: contain;
          transition: 250ms ease-out;
          z-index: 20;
          box-shadow: 0 -1px 3px rgba(0,0,0,0.6);
        }

        .vinyl-plate {
          position: absolute;
          top: 30px;
          left: 10px;
          width: 110px;
          height: 110px;
          border: 3px solid $secondary-background-color;
          border-radius: 50%;
          transform: rotate(10deg);
          transition: 350ms ease-out;
          z-index: 10;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 50%;
          }
        }

        .vinyl-plate::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          width: 30px;
          height: 30px;
          background-color: $primary-background-color;
          border: 3px solid $secondary-background-color;
        }
      }

      .media-information {
        position: relative;
        top: -20px;
        height: 40px;
        width: 130px;
        padding-top: 10px;
        z-index: 10;
        transition: 250ms ease-out;
        background-color: $primary-background-color;

        .title {
          width: 110px;
          font-size: $font-size-m;
          margin-bottom: 2px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          transition: 100ms ease-out;

        }

        .artist {
          font-size: $font-size-s;
          color: $secondary-text-color;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .tracking-information {
        position: relative;
        width: 130px;
        height: 42px;
        z-index: 5;
        padding-top: 10px;
        transition: 350ms ease-out;
        overflow: hidden;
        opacity: 0;
        top: 5px;

        .user-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 3px;

          span {
            font-size: $font-size-xs;
          }

          .name {
            color: $secondary-text-color;
          }
        }
      }
    }

    .media-slide.active .album-wrapper {
      .media-image {
        bottom: 0;
      }
      .vinyl-plate {
        top: 0;
        transform: rotate(60deg);
      }
    }

    .media-slide.active .media-information, {
      top: 0;

      .title {
        color: $spotify-green;
      }
    }

    .media-slide.active .tracking-information {
      opacity: 1;
      top: 0;
    }

    .pseudo-slide {
      width: 120px;
      height: 120px;
      flex: none;
    }
  }

  .media-slider > .media-slide {
    scroll-snap-align: start;
  }
}

.slider-wrapper.sk-anim .media-slider .media-slide .album-wrapper .media-image {
  box-shadow: unset;
}

@media only screen and (min-width: 768px) {
  .slider-wrapper .media-slider .media-slide .media-information {
    background-color: #222;
  }
}

@media only screen and (min-width: 991px) {
  .slider-wrapper .media-slider {
    scroll-padding: 0 45px;
    padding: 0 45px;
  }
}



