.media-container {
  @include flex-align-center;
  width: 100%;
  max-width: 580px;
  height: 50px;
  margin-bottom: 20px;
  column-gap: 15px;

  .rank {
    color: $primary-text-color;
    font-size: 14px;
    font-weight: 500;
  }

  .media-cover {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-image: url("@/../public/images/music_placeholder.png");
  }

  .media-information {
    flex: 1;

    .media-title {
      width: 160px;
      font-size: 16px;
      font-weight: 500;
      color: $primary-text-color;
      margin-bottom: 5px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-align: left;
    }

    .additional-media-info {
      display: flex;
      width: 100%;
      column-gap: 5px;
      line-height: 1.2;

      .explicit {
        @include flex-center-all;
        width: 14px;
        height: 14px;
        border-radius: $secondary-border-radius;
        background-color: $tertiary-background-color;
        color: $tertiary-text-color;
        font-size: 10px;
        margin-top: 2px;
      }

      .artists {
        font-size: 14px;
        font-weight: 400;
        color: $secondary-text-color;
        height: 16px;
        overflow: hidden;
      }
    }
  }

  .listened-minutes {
    width: 75px;
    font-size: 12px;
    color: $secondary-text-color;
    text-align: center;

  }
}

@media only screen and (min-width: 360px) {
  .media-container .media-information .media-title {
    width: 150px;
  }
}

@media only screen and (min-width: 380px) {
  .media-container .media-information .media-title {
    width: 170px;
  }
}

@media only screen and (min-width: 400px) {
  .media-container .media-information .media-title {
    width: 190px;
  }
}

@media only screen and (min-width: 412px) {
  .media-container {
    height: 60px;

    .rank {
      font-size: 16px;
    }

    .media-information {

      .media-title {
        width: 194px;
        font-size: 17px;
        margin-bottom: 6px;
      }

      .additional-media-info {

        .artists {
          font-size: 15px;
        }
      }
    }
  }
}

@media only screen and (min-width: 420px) {
  .media-container .media-information .media-title {
    width: 200px;
  }
}

@media only screen and (min-width: 440px) {
  .media-container .media-information .media-title {
    width: 220px;
  }
}

@media only screen and (min-width: 460px) {
  .media-container .media-information .media-title {
    width: 240px;
  }
}

@media only screen and (min-width: 480px) {
  .media-container .media-information .media-title {
    width: 260px;
  }
}

@media only screen and (min-width: 500px) {
  .media-container .media-information .media-title {
    width: 280px;
  }
}

@media only screen and (min-width: 520px) {
  .media-container .media-information .media-title {
    width: 300px;
  }
}

@media only screen and (min-width: 540px) {
  .media-container .media-information .media-title {
    width: 320px;
  }
}

@media only screen and (min-width: 560px) {
  .media-container .media-information .media-title {
    width: 340px;
  }
}

@media only screen and (min-width: 580px) {
  .media-container .media-information .media-title {
    width: 360px;
  }
}

@media only screen and (min-width: 600px) {
  .media-container .media-information .media-title {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .media-container .media-information .media-title {
    width: 270px;
  }
}

@media only screen and (min-width: 780px) {
  .media-container .media-information .media-title {
    width: 280px;
  }
}

@media only screen and (min-width: 800px) {
  .media-container .media-information .media-title {
    width: 300px;
  }
}

@media only screen and (min-width: 820px) {
  .media-container .media-information .media-title {
    width: 320px;
  }
}

@media only screen and (min-width: 840px) {
  .media-container .media-information .media-title {
    width: 338px;
  }
}

@media only screen and (min-width: 860px) {
  .media-container .media-information .media-title {
    width: 358px;
  }
}

@media only screen and (min-width: 880px) {
  .media-container .media-information .media-title {
    width: 100%;
  }
}

@media only screen and (min-width: 991px) {
  .media-container .listened-minutes {
    width: 95px;
    font-size: 14px;
  }
}
