#mobile-navbar {
  @include flex-align-center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: $tertiary-text-color;
  justify-content: space-evenly;
  z-index: 50;

  a {
    @include flex-center-all;
    flex-direction: column;
    row-gap: 5px;
    text-decoration: none;
  }

  a svg {
    width: 20px;
    height: 18px;
    cursor: pointer;
    fill: $primary-text-color;
  }

  .router-link-exact-active svg {
    fill: $spotify-green;
  }

  .router-link-exact-active span {
    color: $spotify-green;
  }

  a span  {
    color: $primary-text-color;
    font-size: 12px;
  }
}
