#profile-view {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #121212;
  padding: 0 15px 60px;

  header {
    display: flex;
    align-items: center;
    column-gap: 18px;
    background-color: #121212;
    padding: 22px 0;

    // Sticky Header Image
    //
    // position: sticky;
    // top: 0;
    // width: calc(100% + 30px);
    // margin-left: -15px;
    // padding: 22px 15px;
    // margin-bottom: 15px;

    .profile-image {
      @include bc-attr;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-image: url("@/assets/images/profile_placeholder.png");
      background-size: cover;
    }

    .profile-info {
      flex: 1;

      h2 {
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 4px;
      }

      p {
        position: relative;
        color: #BCBCBC;
        font-size: 14px;
        display: flex;
        column-gap: 8px;

        svg {
          width: 15px;
          height: 15px;
          cursor: pointer;
        }
      }
    }
  }

  .connected-apps-btn {
    width: 100%;
    height: 50px;
    background-color: #1D1D1D;
    border-radius: 5px;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 0 15px;
    margin-bottom: 32px;
    cursor: pointer;

    svg.link {
      width: 17px;
      height: 14px;
    }

    p {
      flex: 1;
      color: #FFFFFF;
      font-size: 14px;
    }

    svg.arrow-right {
      height: 18px;
    }
  }

  h3 {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
  }
}
