#recommended-media-view {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #121212;
  padding: 0 15px 60px;

  .arrow-left {
    margin-top: 25px;
  }

  header {
    display: flex;
    align-items: center;
    column-gap: 18px;
    background-color: #121212;
    padding: 18px 0 22px;
    border-bottom: 2px solid #1D1D1D;
    margin-bottom: 22px;

    .profile-image {
      @include bc-attr;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-image: url("@/assets/images/profile_placeholder.png");
      background-size: cover;
    }

    .profile-info {
      flex: 1;

      h2 {
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 4px;
      }

      p {
        position: relative;
        color: #BCBCBC;
        font-size: 14px;
        display: flex;
        column-gap: 8px;
      }
    }
  }

  h3 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 22px;
  }

  a[href="/matches"] svg {
    fill: $spotify-green;
  }

  a[href="/matches"] span {
    color: $spotify-green;
  }
}
