#shuffle-view {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; /* Vertikal Scrollen und Snap Points streng einhalten */
  padding: 12px;
  scroll-padding-top: 12px;
  background-color: $primary-background-color;
  //background-image: url("@/assets/images/bc_2.jpg");
  //background-size: cover;

  /*************************************************************************************/
  /* ------------------------------- Shuffle Card ------------------------------------ */
  /*************************************************************************************/


  .shuffle-card {
    position: relative;
    top: 12px;
    margin-top: 12px;
    height: 80vh;
    margin-bottom: 20vh;
    width: 100%;
    scroll-snap-align: start; /* An der Oberkante jeder Sektion soll gestoppt werden */
    padding: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 4px solid rgba(10, 10, 20, 0.84);

    .song-image {
      @include bc-attr;
      width: 100%;
      aspect-ratio: 1 / 1;
      background-color: grey;
      background-image: url("@/assets/images/miss_you_cover.jpg");
      margin-bottom: 18px;
      border-radius: $primary-border-radius;
    }

    .song-title {
      color: $primary-text-color;
      font-weight: 500;
      font-size: 26px;
      margin-bottom: 4px;
    }

    .artist {
      color: $primary-text-color;
      opacity: 0.8;
    }
  }

  /*************************************************************************************/
  /* ------------------------------ Spotify Controls --------------------------------- */
  /*************************************************************************************/

  .spotify-controls {
    width: 100%;

    .spotify-track {
      position: relative;
      width: 100%;
      height: 6px;
      border-radius:$primary-border-radius;
      background-color: #444;
      margin-bottom: 25px;
      margin-top: 45px;
    }

    .spotify-track::before {
      content: '';
      position: absolute;
      width: 30%;
      height: 100%;
      background-color: $tertiary-background-color;
      border-radius: $primary-border-radius;
    }

    .spotify-btn-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;

      .spotify-play-btn {
        @include flex-center-all;
        width: 62px;
        height: 62px;
        margin: 0 auto;
        background: rgba(2, 2, 6, 0.8);
        border-radius: $round-border-radius;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: none;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #shuffle-view {
    padding-left: calc(240px + 15px);
    padding-top: 25px;
  }
}

